<ion-content *ngIf="authService.isSignedIn()">

  <ion-list>
    <ion-item-sliding *ngFor="let dashboard of dashboards;">
      <ion-item-options *ngIf="hasInternet" side="start">
        <ion-item-option (click)="detail(dashboard)">
          <ion-icon name="information-circle-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  
      <ion-item>
        <ion-label (click)="route.navigate(['dashboard', dashboard.Id])">
          {{dashboard.Title}}
        </ion-label>
      </ion-item>
  
      <ion-item-options *ngIf="hasInternet" side="end">
        <ion-item-option color="danger" (click)="delete(dashboard)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

<ion-fab *ngIf="hasInternet" vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="showCreateModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>