<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboards</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!authService.isSignedIn()"><ion-label>Login first</ion-label></ion-content>
<ion-content *ngIf="authService.isSignedIn()">

  <ion-list>
    <ion-item *ngFor="let dashboard of dashboards;">
      <ion-label>
        {{dashboard.Title}}
      </ion-label>
    </ion-item>
  </ion-list>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="showCreateModal()">
    <ion-icon name="add-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
</ion-content>
